WORKING_DIR=/workspace
SPLENT_APP=innosoft_app
PYTHONPATH=/workspace/innosoft_app/src
FLASK_APP=innosoft_app:create_app

MARIADB_HOSTNAME=innosoft_app_db
MARIADB_DATABASE=innosoft_app_db
MARIADB_TEST_DATABASE=innosoft_app_db_test
MARIADB_USER=innosoft_app_db_user
MARIADB_PASSWORD=innosoft_app_db_password
MARIADB_ROOT_PASSWORD=innosoft_app_db_root_password

RUN_DB_SEED=true
