WORKING_DIR=/workspace
SPLENT_APP=innosoft_app
PYTHONPATH=/workspace/innosoft_app/src
FLASK_APP=innosoft_app:create_app

MARIADB_HOSTNAME=innosoft_app_db_deploy
MARIADB_DATABASE=<SET>
MARIADB_USER=<SET>
MARIADB_PASSWORD=<SET>
MARIADB_ROOT_PASSWORD=<SET>

RUN_DB_SEED=false
